# Specify Services URL

VUE_APP_2C2P_URL=https://t.2c2p.com
VUE_APP_TITAN_URL=https://www.titan22.com
VUE_APP_TITAN_ADMIN_TOKEN=

VUE_APP_API_URL=

VUE_APP_BOT_AVATAR=https://i.imgur.com/vbQJk8Q.png
VUE_APP_BOT_WEBHOOK=